@page "/"
<PageTitle>Home</PageTitle>

<h1>Strona główna</h1>

Główna strona aplikacji!
<Button Type="primary" Size="large" >Hello World!</Button>

<AuthorizeView>
    <Authorized>
        <button class="btn btn-danger" @onclick="Logout">Logout</button>
    </Authorized>
</AuthorizeView>