@page "/logout"
@using CustomersManagement.UI.Contracts
@inject IAuthenticationService AuthService
@inject NavigationManager NavManager
@inject ICustomNotificationService NotificationSerivce

<h3>Logout</h3>

@code {
    protected override async Task OnInitializedAsync()
    {
        NotificationSerivce.ClearNotifications();;
        await AuthService.Logout();
        NavManager.NavigateTo("/");
    }
}
