<nav class="flex-column" style="height: 100%">
    <Menu 
        Theme="MenuTheme.Dark"
        DefaultSelectedKeys=@(new[] { "1" })
        DefaultOpenKeys=@(new[] { "sub1" })
        Mode=@MenuMode.Inline
        Style="height: 100%; background-color: blu">

        <Title Level="4" Style="color: white; margin-top: 5%; margin-bottom: 5% ;text-align: center;"><Icon Type="global" Theme="outline" /> Podróżujący nurek</Title>

         <AuthorizeView>

            <NotAuthorized>
                <MenuItem Icon="login">
                    Login
                </MenuItem>
            </NotAuthorized>

             <Authorized>

                <MenuItem Key="1" Icon="desktop" RouterLink="" Style="font-size: 16px">
                    Menu
                </MenuItem>

                <MenuItem Key="2" Icon="bell" Style="font-size: 16px">
                   Powiadomienia
                </MenuItem>

                <SubMenu Key="sub1" TitleTemplate=@sub1Title Style="font-size: 16px">
                    <MenuItem Key="3" Icon="team" RouterLink="travelagency/customers/" Style="font-size: 16px">
                        Klienci
                    </MenuItem>
                    <MenuItem Key="4" Icon="compass" RouterLink="travelagency/tours/" Style="font-size: 16px">
                        Wycieczki
                    </MenuItem>
                </SubMenu>

                <SubMenu Key="sub2" TitleTemplate=@sub2Title Style="font-size: 16px">
                    <MenuItem Key="5" Icon="team" RouterLink="divingschool/customers/" Style="font-size: 16px">
                        Klienci
                    </MenuItem>
                    <MenuItem Key="6" Icon="schedule" RouterLink="divingschool/courses/" Style="font-size: 16px">
                        Kursy
                    </MenuItem>
                </SubMenu>

             </Authorized>
         </AuthorizeView>

        <AuthorizeView Roles="Administrator">
            <MenuItem Key="7" Icon="customer-service" Style="font-size: 16px">
                Pracownicy
            </MenuItem>
        </AuthorizeView>

        <div style="position: absolute; bottom: 20px; width: 100%">
            <AuthorizeView>
                <Authorized>
                    <MenuItem Key="8" Icon="setting" Style=" font-size: 16px;" Class="dupa">
                        Moje konto
                    </MenuItem>
                    <MenuItem Key="9" Icon="logout" Style=" font-size: 16px;" RouterLink="logout" Class="dupa">
                        Wyloguj
                    </MenuItem>
                </Authorized>
            </AuthorizeView>
        </div>
    </Menu>
</nav>

@code
{
    RenderFragment sub1Title =
    @<span>
        <Icon Type="mail" Theme="outline"></Icon>
        <span>Biuro podróży</span>
    </span>;

    RenderFragment sub2Title =
    @<span>
        <Icon Type="appstore" Theme="outline"></Icon>
        <span>Szkoła nurkowania</span>
    </span>;
}
