@page "/documents/customer/{id:int}"

<h3>Customer</h3>

@code {
    //view containing all documents that given user has in our storage - history of documents 
    //moreover it will allow to give new document for our user
    //this page should also be available via customer details page or something similar
}
