@page "/customers/details/{id:int}"



@if (customer == null)
{
    <p>Loading...</p>
}
else
{
    <div class="container">
        <h3>Szczegóły</h3>

        <dl class="row">
            <dt class="col-sm-3">ID:</dt>
            <dd class="col-sm-9">@customer.Id</dd>

            <dt class="col-sm-3">Imię:</dt>
            <dd class="col-sm-9">@customer.FirstName</dd>

            <dt class="col-sm-3">Nazwisko:</dt>
            <dd class="col-sm-9">@customer.LastName</dd>

            <dt class="col-sm-3">Adres e-mail:</dt>
            <dd class="col-sm-9">@customer.EmailAddress</dd>
        </dl>
    </div>
}


